<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImpHoleCalculation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ParametrsCalculation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ImpHoleCalculation.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateBef" serializeAs="String">
                <value>21.11.2019</value>
            </setting>
            <setting name="DateAft" serializeAs="String">
                <value>22.11.2019</value>
            </setting>
            <setting name="OneHoleCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveExcel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveExcelBothFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveByHours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveByDays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OneQuery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SepQueryMonth" serializeAs="String">
                <value>False</value>
            </setting>
        </ImpHoleCalculation.Properties.Settings>
        <ParametrsCalculation.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateBef" serializeAs="String">
                <value>21.11.2019</value>
            </setting>
            <setting name="DateAft" serializeAs="String">
                <value>22.11.2019</value>
            </setting>
            <setting name="FreqBef" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FreqAft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AmpStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DurStep" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="FreqStep" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="type0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type40" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type60" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type70" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type80" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type90" serializeAs="String">
                <value>False</value>
            </setting>
        </ParametrsCalculation.Properties.Settings>
    </userSettings>
</configuration>